
<%= simple_form_for(@create_organization_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nom" %>
    <%= f.input :nickname, label: "Nom court" %>
    <%= f.input :creation_date , as: :date, html5: true, placeholder: 'dd/mm/yyyy', label: "Date de création"%>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :address_complement, label: "Complément d'adresse" %>
    <%= f.association :city, label: "ville" %>
    <%= f.input :email, label: "Email" %>
    <%= f.input :phone_number, label:"Téléphone" %>
    <%= f.association :status, label: "Statut juridique" %>
    <%= f.input :siren, label: "Siren" %>
    <%= f.input :description, label: "Description" %>
    <%= f.association :activity_sector, label: "Secteur d'activité principal" %>
    <%= f.input :naf_ape, label: "NAF/APE" %>
    <%= f.input :logo_url, label:"Lien vers le logo" %>
    <%= f.input :website_url, label: "Site internet" %>
    <%= f.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="form-actions mt-5 text-center">
    <%= f.button :submit, class:"btn btn-success" %>
  </div>
<% end %>
