<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @create_organization_request.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @create_organization_request.nickname %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @create_organization_request.creation_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @create_organization_request.address %>
</p>

<p>
  <strong>Address complement:</strong>
  <%= @create_organization_request.address_complement %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @create_organization_request.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @create_organization_request.city_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @create_organization_request.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @create_organization_request.phone_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @create_organization_request.status_id %>
</p>

<p>
  <strong>Siren:</strong>
  <%= @create_organization_request.siren %>
</p>

<p>
  <strong>Description:</strong>
  <%= @create_organization_request.description %>
</p>

<p>
  <strong>Activity sector:</strong>
  <%= @create_organization_request.activity_sector_id %>
</p>

<p>
  <strong>Naf ape:</strong>
  <%= @create_organization_request.naf_ape %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @create_organization_request.logo_url %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @create_organization_request.website_url %>
</p>

<p>
  <strong>Validation:</strong>
  <%= @create_organization_request.validation %>
</p>

<p>
  <strong>User:</strong>
  <%= @create_organization_request.user_id %>
</p>

<%= link_to 'Edit', edit_create_organization_request_path(@create_organization_request) %> |
<%= link_to 'Back', create_organization_requests_path %>
